.App {
  display: block;
}

.page-container {
  padding: 0 20px;
}

.header-container {
  margin-bottom: 8px;
}

.page-header {
  display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 16px;
    margin-left: -20px;
    margin-right: -20px;
}

.logo{
      margin: 0;
    font-size: 28px;
    cursor: pointer;
    width: 130px;
}

.header-button{
  padding: 0;
    border: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;
}

.posts{
display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-header{
  display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.post-image-container{
  margin-left: -20px;
    margin-right: -20px;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: #e0e0e0;
}

.post-image{
  width: 100%;
    height: 100%;
    max-width: 500px;
    object-fit: cover;
}

.post-text{
      font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
}

.user-name{
      font-weight: 500;
}

.post-date{
  color: #8a8a8a;
}

.like-button{
  border: none;
    background-color: transparent;
    padding: 8px;
    padding-left: 0px;
    padding-bottom: 5px;
    cursor: pointer;
}

.post-header__user-image{
width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 40px;
    margin-right: 10px;
}

.post-likes-text{
      display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.post-likes{
  display: flex;
    flex-direction: row;
    align-items: center;
  }

  .page-container{
    padding: 0 20px;
  }

  .header-container{
    margin-bottom: 8px;
  }

  .page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 16px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .logo{
margin: 0;
    font-size: 28px;
    cursor: pointer;
    width: 130px;
  }

  .form{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form-title{
    font-size: 28px;
    line-height: 35px;
    text-align: center;
  }

  .form-inputs{
        display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .upload-image-container{
    display: block;
  }

  .upload-image{
display: block;
  }

  .file-upload-label {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }

  .button, .secondary-button {
    display: block;
    padding: 10px 13px 13px;
    font-size: 18px;
    line-height: 22px;
    border-radius: 5px;
    background-color: #565eef;
    color: #ffffff;
    border: none;
}

.secondary-button {
    background-color: #edecff;
    color: #565eef;
}

.input {
    height: 36px;
    box-sizing: border-box;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
    color: rgb(4, 18, 27);
    border: none;
    border-radius: 5px;
    background-color: #e8e8e8;
}

.form-error {
    color: red;
}

.button, .secondary-button {
    display: block;
    padding: 10px 13px 13px;
    font-size: 18px;
    line-height: 22px;
    border-radius: 5px;
    background-color: #565eef;
    color: #ffffff;
    border: none;
}

.form-footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-footer-title {
    text-align: center;
}

.link-button {
    display: inline;
    border: 0;
    padding: 0;
    background: none;
    color: #565eef;
    cursor: pointer;
}